@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes subtleFloat {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-24px); } /* Shorter distance */
}

.animate-subtle-float {
  animation: subtleFloat 6s ease-in-out infinite;
}